// Union colors

$color-cdv   : #f47d2a;
$color-cdh   : #b64330;
$color-ecolo : #8cc63f;
$color-fdf   : #cb0167;
$color-groen : #008479;
$color-mr    : #044679;
$color-nva   : #f9b919;
$color-ovld  : #275ca5;
$color-pp    : #773179;
$color-ps    : #ff0000;
$color-ptbgo : #e8312a;
$color-spa   : #e20025;
$color-vb    : #5a9fc1;

// Notification color
$color-white    : #fff;
