// Union colors

$color-cdv   : #f47d2a;
$color-cdh   : #b64330;
$color-ecolo : #8cc63f;
$color-fdf   : #cb0167;
$color-groen : #008479;
$color-mr    : #044679;
$color-nva   : #f9b919;
$color-ovld  : #275ca5;
$color-pp    : #773179;
$color-ps    : #ff0000;
$color-ptbgo : #e8312a;
$color-spa   : #e20025;
$color-vb    : #5a9fc1;

// Notification color
$color-lighter-gray : #ccc;
$color-white        : #fff;
$color-boulder      : #777;
$color-red          : #f00;
$color-gallery      : #eee;
$color-white2       : #f4f4f4;
$color-white3       : #f9f9f9;
$color-astral       : #337ab7;
$color-mine-shaft   : rgb(38, 38, 38);
$color-light-dark   : #2b2b2b;
$color-dark         : #333;
