@font-face {
    font-family: 'Allan';
    font-style: normal;
    font-weight: 700;
    src: local('Allan Bold'), local('Allan-Bold'), url(http://fonts.gstatic.com/s/allan/v7/HDuJMALbbJ3Ny_JtXeABSXYhjbSpvc47ee6xR_80Hnw.woff) format('woff');
}
